
.container {
    display: flex;
}
.left-side {
    font-family: 'Comfortaa';
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    width: 45%;
}
.right-side {
    font-family: 'PT serif';
    width: 100vh;
    margin-left: 20px;
}