.exp-container {
    background-color: white;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    min-height: 100px;
    max-height: 700px;
    transition: max-height 0.5s ease;
}
.exp-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.exp-open {
    max-height: 700px;
}
.exp-closing {
    min-height: 100px;
    max-height: 100px;
    transition: max-height 0.4s ease;
}
.exp-title {
    padding-bottom: 20px;
}
.exp-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
form > label {
    margin-bottom: 5px;
    font-weight: bold;
}
.exp-input {
    padding: 10px;
    border-radius: 8px;
    border: none;
    width: 100%;
    background-color: rgba(212, 212, 212, 0.625);
}
textarea {
    resize: none;
    font-family: "arial";
}
.job-description {
    padding: 0px 40px;
}
.job-description > list {
    font-size: 10px;
}
.name-tech {
    display: flex;
    gap: 10px;
}
