.header-container {
  padding: 15px;
  background-color: white;
  /* border: 1px solid black; */
  border-radius: 18px;
  width: 100%;
}
.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.title {
  background-color: white;
}
.button {
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: rgb(100, 255, 152);
  border: none;
  cursor: pointer;
}
.button:hover {
  background-color: rgb(67, 233, 122);
}
.button-text {
  font-weight: 500;
  font-size: 20px;
}
.button-icon {
  height: 25px;
  width: 25px;
  color: white;
}
.footer {
  text-align: center;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text {
  font-size: 25;
}
.footer > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer-icon {
  height: 25px;
  width: 25px;
}
.footer-icon:hover {
  animation: spin 0.5s linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
